@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
.header-color {
  background-color: #ffffff;
  color: #1e293b;
}

.dark .header-color {
  background-color: #0f172a; /* deep navy */
  color: #f8fafc; /* soft white */
}

.side-bar-col {
  background-color: #ffffff;
  color: #1e293b;
}

.dark .side-bar-col {
  background-color: #1e293b; /* slate grayish navy */
  color: #e2e8f0; /* light slate */
}

body.dark {
  background-color: #0f172a; /* dark navy base */
  color: #e2e8f0;
}

.cards-data {
  background-color: #ffffff;
  color: #1e293b;
}

.dark .cards-data {
  background-color: #1e293b;
  color: #f8fafc;
}

/* #101828 */
/* #000f2e */